/**** common ****/

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 2.4em;
}

a {
  text-decoration: none;
}

/**** site-nav ****/

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}

.site-nav ul a  {
  color: black;
}

.site-nav ul a li {
  padding: 1.6em 1.6em;
}

.site-nav ul a li:hover {
  background-color: lightgrey;
  transition: 0.5s;
}

/**** main ****/

main {
  margin: 2.4em auto;
  max-width: 750px;
}

main h1 {
  text-align: center;
}

main section {
  margin: 2.4em 0;
}

/**** home ****/

.home main .home--img {
  width: 100%;
  height: 400px;
  background: url("../img/stock-room.jpg") no-repeat center center;
}

/**** services ****/
.services main {
  max-width: 1024px;
}

.services main article .service {
  position: relative;
  height: 350px;
  margin: 150px 0;
}

.services main article .service .content-bg {
  position: absolute;
  height: 100%;
  width: 600px;
  opacity: 0.6;
}

.services main article .service .content-bg.bg-1 {
  background: url("../img/shower.jpg") no-repeat center center;
}

.services main article .service .content-bg.bg-2 {
  background: url("../img/bathroom.jpg") no-repeat center center;
}

.services main article .service .content-bg.bg-3 {
  background: url("../img/kitchen.jpg") no-repeat center center;
}

.services main article .service .content-bg.bg-4 {
  background: url("../img/lounge.jpg") no-repeat center center;
}

.services main article .service .content {
  position: absolute;
  width: 50%;
  font-size: 1.1em;
}

.services main article .service:nth-child(odd) .content-bg {
  right: 0;
}

.services main article .service:nth-child(odd) .content {
  top: 0;
  left: 0;
  transform: translate(0, 25%);
}

.services main article .service:nth-child(even) .content-bg {
  left: 0;
}

.services main article .service:nth-child(even) .content {
  top: 0;
  right: 0;
  transform: translate(0, 25%);
}

/**** about ****/

.about main .team .team-member {
  display: flex;
  margin: 2.4em 0;
}

.about main .team .team-member > div {
  padding: 0.5em 1.5em;
}

/**** gallery ****/

.gallery main {
  max-width: 1366px;
}

.gallery main article .grid-container {
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}

.gallery main article .grid-container img {
  width: 100%;
}
